body

{margin:0;
padding:0;
background-image:url('index.jpeg');
background-size:cover;
background-position:center;
background-repeat:no-repeat;
background-attachment:fixed;
height:100vh;
width:100vh;
}
h2
{
color:brown;
font-family:"Times New Roman";
}
@keyframes fadeIn{
from{
opacity:0;
}
to
{
opacity:1;
}
}